<!DOCTYPE html>

<html lang="es">

    <head>

        <meta  http-equiv="refresh" content= 2>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clinica Reina Sofia</title>

        <link rel="stylesheet" href="/static/css/index.css">
        
    </head>

    <body>
        <figure>
            <img src="/static/img/logo_reina.png" alt="Logo" class="logo"/>
        </figure>
        <center>
        <figure class="redes">

            <img src="/static/img/Twitter.png"/>       
            <img src="/static/img/linkedin.png"/>
            <img src="/static/img/instagram.png"/>

        </figure>
        </center>

        <main>
        <div>

        
        </div>

        <center>
            <br>
            <h1>B I E N V E N I D O S</h1>
            <br>
            <label for="Buscar"> Buscar </label>
            <input type="text" name="Buscar" id="Buscar">   
            <br>

            <div>
                <br>
                <input id="Preguntas frecuentas" type="submit" value="preguntas frecuentes" class="ini" >
                <input id="Contáctanos" type="submit" value="Contáctanos"  class="ini">

            </div>


         </center>

        <div>
            <center>
                <br>
                <button class="button"><a href="/login">Ingresa a tu Cuenta</a></button> 
                <br>
                <br>
                <button class="button"><a href="/registro_usuario">Registrate</a></button> 
            </center>

        </div>
        </main>
        

    </body>

</html>