<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/e809efb974.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <figure>
        <img src="{{ url_for('static', filename='img/logo_reina.png') }}" alt="Logo" class="logo"/>
    </figure>
    <div class="container-grid">
        <div class="lado-izquierdo ">
            <div class="borde">
                <h2> <i class="fas fa-user"></i> Perfil De Usuario</h2>
            </div>
            <div class="borde color">
                <h2><i class="fas fa-user-lock"></i> Información Personal</h2>
            </div>
            <div class="borde amplio">
                Nombre: {{perfil_medico[0]}} {{perfil_paciente[2]}}
                <br>
                ID: {{perfil_medico[1]}} {{perfil_paciente[0]}}
                <br>
                Email: {{perfil_medico[2]}} {{perfil_paciente[1]}}
            </div>
            <div class="borde">
                <h2> <i class="fas fa-calendar-plus"></i><a href="#"> Tus Citas Medicas</a></h2>
            </div>
            <div class="borde">
                <h2> <i class="fas fa-file"></i><a href="/registrar-cita"> Solicitar Cita Medica</a></h2>
            </div>
            <div class="borde">
                <h2> <i class="fas fa-clipboard-check"></i> Historial Clinico </h2>
            </div>
            <div class="borde">
                <h2><i class="fas fa-sign-out-alt"></i><a href="/index">Cerrar Cesión</a></h2>
            </div>
        </div>
        <div class="lado-derecho">
            <span>Bienvenido(a) a Oficina Virtual</span>
        </div>
    </div>
</body>
</html>