<!DOCTYPE html>

<html lang="es">

    <head>

        <meta  http-equiv="refresh" content= 2>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clinica Reina Sofia</title>

        <title>Clinica Reina Sofia - CSS</title>

        <style type= "text/css">
            body {
                color: blue;
            }
            .izquierda {
                text-align: right;
            }
        </style>

        
    </head>

    <body>

        <figure>
            <img src="/static/img/logo_reina.png" alt="Logo" class="logo"/>
        </figure>
        <br>
        <br>
            <script>
                var cadena = "Hola";
                
            </script>
            
            
                <div>
                    <div style="text-align: center;">
                     <p>
                        <button><a href="/index"> Inicio</a></button>

                        <button><a href="/lista-citas"> Citas</a></button>

                        <button><a href="/detalle-cita"> Buscar</a></button>

                        <input type="text" name="Buscar" id="Buscar">


                     </p>   
                

                    </div>





                
    

                
                </div>


        
        <right>
            <p>
                <div>

                    <h3 >Se encontraron 2 resultados de tu búsqueda "Cita" :</h3>

                    <h6>Detalles de cita </h6>
                    <h6>¿Cómo solicitar una cita?</h6>
                    

                </div>
            </p>

        </right>



    </body>

</html>